<%- include('../layouts/adminheader'); -%>
<div class="container">
<h2 class="page-title">Edit a page</h2>
<a href="/admin/pages" class="btn btn-primary">Back to all pages</a>
<br><br>

<form  action="/admin/pages/edit-page/<%= id %>" method="post">
    <div class="from-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title"  value="<%= title %> " placeholder="Title">

    </div>

    <div class="from-group">
        <label for="">Slug</label>
        <input type="text" class="form-control" name="slug"  value="<%= slug %> " placeholder="Slug">

    </div>

    <div class="from-group">
        <label for="">Content</label>
        <textarea type="text" id="editor" class="form-control" cols="30" rows="10" placeholder="Content" name="content" ><%= content %></textarea>
    </div>
    <button class="btn btn-primary mt-5">Submit</button>
</form>

</div>
<%- include('../layouts/adminfooter'); -%>

